{% extends 'layouts/master.html' %}
{% load static %}
{% block title %}Table Component{% endblock title %}

{% block styles %}{% endblock styles %}




{% block content %}
<div class="flex flex-col md:flex-row md:items-center justify-between mb-6">
    <div>
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white">Table Component</h2>
        <p class="text-gray-600 dark:text-gray-300 mt-1"></p>
    </div>

</div>
<table-test-component></table-test-component>
{% endblock content %}




{% block js %}

{% endblock js %}