{% extends 'layouts/master.html' %}
{% load static %}
{% block title %}Company Details{% endblock title %}

{% block styles %}{% endblock styles %}


{% block content %}
<!-- Page Header -->
<div class="border-b border-gray-200 dark:border-gray-700 pb-2 mb-2 flex flex-col gap-1">
    <ul class="flex items-center text-sm text-gray-500 dark:text-gray-400 space-x-2">
        <li class="flex items-center">
            <a href="#" class="hover:text-blue-600 flex items-center gap-1">
                <i class="fa-solid fa-house text-gray-400"></i>
                Home
            </a>
        </li>
        <li><i class="fa-solid fa-angle-right text-gray-400"></i></li>
        <li class="flex items-center">
            <a href="#" class="hover:text-blue-600 flex items-center gap-1">
                Roles
            </a>
        </li>
        <li><i class="fa-solid fa-angle-right text-gray-400"></i></li>
        <li class="text-blue-600 font-semibold">Details</li>
    </ul>
</div>

<role-details-component :item-id="'{% if object.id %}{{ object.id }}{% else %}null{% endif %}'"></role-details-component>
{% endblock content %}

{% block js %}{% endblock js %}